<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Legacy Lines</title>
    <link rel="stylesheet" href="/styles.css" />
    <script src="/eventListener.js" defer></script>
  </head>
  <body>
    <header>Legacy Lines</header>
    <main>
      <section class="authorsSection">
        <button class="addAuthorBtn">+ Add Author</button>
        <% authorsArray.forEach(author => { %>
        <div class="author">
          <a href="/<%= author.id %>/quotes"> <%= author.name %> </a>
        </div>
        <% }) %>
      </section>
      <section class="quotesSection">
        <div class="quotesHead">
          <h1 class="quoteAuthor"><%= authorName %>'s quotes</h1>
          <button class="addQuoteBtn">+ Add more quote</button>
        </div>
        <div class="quotesDiv">
          <% quotesArray.forEach((quote, index) => { %>
          <div class="quote"><%= quote.quote %></div>
          <% }) %>
        </div>
      </section>
      <dialog id="dialogAuthor">
        <form method="POST" action="/addAuthor" class="authorForm">
          <div class="formHead">Add author name</div>
          <input
            type="text"
            name="authorName"
            placeholder="Authors Name"
            required
          />
          <input type="submit" value="Submit" />
        </form>
      </dialog>
      <dialog id="dialogQuote">
        <form
          action="/<%= author_id %>/addQuote"
          method="POST"
          class="quoteForm"
        >
          <div class="formHead"><%= authorName %>'s quote</div>
          <input type="text" name="quote" placeholder="Quote" required />
          <input type="submit" value="Submit" />
        </form>
      </dialog>
    </main>
  </body>
</html>
